In [14]:
import pandas

In [7]:
df = pandas.DataFrame([[1,2,3], [2,3,4], [3,4,5]])

In [9]:
df

   0  1  2
0  1  2  3
1  2  3  4
2  3  4  5

In [12]:
df[2]

0    3
1    4
2    5
Name: 2, dtype: int64

In [16]:
df.mean()

0    2.0
1    3.0
2    4.0
dtype: float64

In [20]:
type(df.mean().mean().mean())

numpy.float64

In [28]:
import numpy as np

In [42]:
np.log10(49)/2

0.8450980400142568

In [46]:
from geopy.geocoders import ArcGIS

In [148]:
arc = ArcGIS()
sebastian = {'name':'Sebastian Danckwardt', 'home_location':arc.geocode('Höglundavägen 10, Skå, Sweden, 17975')}
david = {'name':'David Mjärdner', 'home_location':arc.geocode('Hagtornsvägen 2, Sweden, SE 19479')}
pontus = {'name':'Pontus Karlsson', 'home_location':arc.geocode('Tappströmsvägen 200, Sweden, SE 17832')}
eric = {'name':'Eric Forsell', 'home_location':arc.geocode('Jägarstigen 56, Sweden, SE 14437')}
oscar = {'name':'Oscar Salomonsson', 'home_location':arc.geocode('Liljevägen 2 B, Sweden, 19135')}
alve = {'name':'Alve Pilo', 'home_location':arc.geocode('Lars Påhls väg 24, Sweden, 26352')}
magnus_kerstin = {'name':'Magnus och Kerstin', 'home_location':arc.geocode('Ässjö 449, Hassela, Sweden, 82998')}

import pandas as pd
people = [david, pontus, eric, sebastian, oscar, alve, magnus_kerstin]

p = pd.DataFrame()
p['Names'] = [i['name'] for i in people]
p['Home Location'] = [i['home_location'][0] for i in people]
p['Latitude'] = [i['home_location'].latitude for i in people]
p['Longitude'] = [i['home_location'].longitude for i in people]

p.mean()

Latitude     59.296088
Longitude    16.898839
dtype: float64

In [90]:
np.pi

3.141592653589793

In [105]:
n = np.arange(27)
n.reshape(3,3,3)

In [108]:
import cv2

In [119]:
im_g = cv2.imread("smallgray.png",1)
im_g

array([[[187, 187, 187],
        [158, 158, 158],
        [104, 104, 104],
        [121, 121, 121],
        [143, 143, 143]],

       [[198, 198, 198],
        [125, 125, 125],
        [255, 255, 255],
        [255, 255, 255],
        [147, 147, 147]],

       [[209, 209, 209],
        [134, 134, 134],
        [255, 255, 255],
        [ 97,  97,  97],
        [182, 182, 182]]], dtype=uint8)

In [149]:
import random
n = []
for i in range(30000):
    n.append(random.randint(0,255))
n = np.asarray(n)
n = n.reshape(30,1000)
cv2.imwrite('newsmallgray.png',n)
n

array([[224,  31, 177, ...,  86, 112, 189],
       [148,  57, 104, ..., 144, 194,  67],
       [115, 227,  98, ..., 184, 110, 188],
       ...,
       [245,  89, 233, ...,  77,  44,  56],
       [ 50, 212, 115, ...,  92, 194, 234],
       [ 83, 101,  11, ...,  51, 174,  25]])

In [171]:
classmates = pd.DataFrame()
names = []
adress = []
postnumber = []
adresses = []
with open(r'klasskamrater.txt', 'r') as k:
    iteration = 0
    for i in k.readlines():
        iteration += 1

        if iteration == 1:
            names.append(i)
        if iteration == 4:
            adress.append(i)
        if iteration == 5:
            postnumber.append(i)
            iteration = 0

classmates['Names'] = [i for i in names]
classmates['Home Location'] = [arc.geocode(f"{adress[i]}, {postnumber[i]}") for i in range(len(adress))]
classmates

,Names,Home Location
0,Edwin Ahlstrand\n,"(Fågelvägen 25, 175 64, Järfälla, (59.39883336..."
1,David Aldenbro\n,"(Trollvägen 3, 176 70, Järfälla, (59.452485570..."
2,Annahi Barrera Mondaca\n,"(Gamla Värmdövägen 11, 131 37, Nacka, (59.3084..."
3,Tuva Bartak\n,"(Eriksviksvägen 3, 132 36, Saltsjö-Boo, (59.32..."
4,Sebastian Bergström\n,"(Vallavägen 109, 136 41, Haninge, (59.16020046..."
5,David Byström\n,"(Anundsvägen 32, 168 53, Bromma, (59.353234805..."
6,Carl Chemnitz\n,"(Kälvestavägen 46, 163 54, Spånga, (59.3759117..."
7,Sebastian Danckwardt\n,"(Höglundavägen 10, 179 75, Skå, (59.3172040968..."
8,Gustav Eriksson\n,"(Ynglingagatan 9, 113 47, Stockholm, (59.34925..."
9,Eric Forsell\n,"(Jägarstigen 56, 144 37, Rönninge, (59.2052191..."
10,Olle Granlöf\n,"(Tenorgränd 31, 162 47, Vällingby, (59.3847121..."
11,Albin Hainke\n,"(Örnholmsbrinken 106, 127 42, Skärholmen, (59...."
12,Adrian Harju-Jeanty\n,"(Sjöbjörnsvägen 66B, 117 67, Stockholm, (59.31..."
13,Andreas Hedbjörn\n,"(Svalgränd 4, 172 36, Sundbyberg, (59.36557206..."
14,Melker Holmström\n,"(Rudsjövägen 56, 131 47, Nacka, (59.3254668204..."
15,Samuel Janson Entian\n,"(Starrbäcksgatan 11, 172 74, Sundbyberg, (59.3..."
16,Pontus Karlsson\n,"(Tappströmsvägen 102, 178 32, Ekerö, (59.29287..."
17,Ruben Karlsson\n,"(Skogsängsvägen 66, 135 55, Tyresö, (59.227708..."
18,Axel Lilja\n,"(Gråstigen 5, 133 36, Nacka, (59.2681296838824..."
19,Kajsa Lindahl\n,"(Hugins väg 9, 131 46, Nacka, (59.321952126002..."
20,David Mjärdner\n,"(Hagtornsvägen 2, 194 79, Upplands Väsby, (59...."
21,Emil Nilsson Ljungdell\n,"(Stenslingan 1, 178 40, Ekerö, (59.27196221787..."
22,Malcolm Ovin\n,"(Ollonstigen 5, 181 64, Lidingö, (59.359810431..."
23,Madeleine Rogersdotter\n,"(Tulegatan 16, 172 78, Sundbyberg, (59.3657093..."
24,Oscar Salomonsson\n,"(Liljevägen 2B, 191 35, Sollentuna, (59.440253..."
25,Atakan Sentürk\n,"(Holmvägen 15, 194 35, Upplands Väsby, (59.524..."
26,Jessica Siddique\n,"(Kotkagatan 33, 164 75, Kista, (59.41480768495..."
27,Sofia Sörensson\n,"(Trastvägen 6, 182 79, Danderyd, (59.381759912..."
28,Erik Tervo Ekelöf\n,"(Färgargårdstorget 88, 116 43, Stockholm, (59...."
29,Adam Zbati\n,"(Tvärvägen 11B, 195 32, Sigtuna, (59.626720576..."
30,August Ågren\n,"(Åbergssons väg 15, 170 77, Solna, (59.3781565..."
31,Albin Östman\n,"(Gabardinvägen 12, 196 38, Kungsängen, (59.509..."